// colors
$primary-color: #ffffff;
$secondary-color: #7253EE;

// dimensions
$nav-height: 100px;

// screen sizes
$extra-small-screens: 0;
$small-screens: 576px;
$medium-screens: 768px;
$large-screens: 992px;
$extra-large-screens: 1200px;
